@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background:#121214
}
.tecnologias{
    grid-area: tec;
    padding: 20px;
    background :rgb(38, 38, 38);
    border-radius: 20px;
    margin-right: 100px;
    box-shadow: 0px 2px 20px rgb(0, 0, 0, 0.8);
    
}

.experiencias{
    grid-area: exp;
    padding: 20px;
    background :rgb(38, 38, 38);
    border-radius: 20px;
    margin-right: 100px;
    width: 300px;
    height: 300px;
}

.info{
    grid-area: info;
    background :rgb(38, 38, 38);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 20px rgb(0, 0, 0, 0.8);
    height: 300px;
    width: 300px;

}


.card{
    grid-area: card;
    background :rgb(38, 38, 38);
    border-radius: 20px;
    box-shadow: 0px 2px 20px rgb(0, 0, 0, 0.8);
    width: 450px;
    margin-left: 100px;
}

.grid{
    margin-top: 150px;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    grid-template-areas:
        'card tec tec tec tec'
        'card info info exp exp';
}


.topinfo{
    padding: 20px;

}

.midcard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height:300px;
    border-radius: 30px;
}

.title{
    color: rgb(255, 255, 255);
}

.secondtext{
    color: rgb(199, 199, 199);
}

.topcard{
    padding: 20px;

}
.tec{
    width:60px;
    border-radius:50%;
    
}
.bottomcard{
    padding: 20px;
}

.github{
    border: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAkFBMVEX+//8xMTEtLS0pKSkcHBwlJSUqKir09fUwMjEaGhojIyP3+PgXFxdJSUkREREfHx/p6uoSFhQAAADExcXf4OCQkJCCgoJqamqXmZjX2NhQUFAODg49Pz4iJSPv8PBERETNzc22t7bc3d1kZmWGh4aoqKh0dnU4ODi7vLxbW1usrq2enp57enoeHR7R09JgYGA8d/7JAAAHtUlEQVR4nO2daXuqPBCGMeyLLIKiuNQVXHrs//93r/hWZRnQSiomnfvjaclFniaTyZMhRxAQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQ5AWY6uzonxnNVLPtt3lfAn8YR8nYtqQzlm0nUTz0g7bf6+0INqFuO4ZISCcDIYohjZ14g4JdGfUnkqF0KlEcpztctv2W78Ds0LVkUq3U9xiT7Wjz10PYKB4bd5X61svwBn95eB1Xlqg9JlWKNtXDvypXsLJqAhWMqMdu2+/dAuZ6LP5UqrNc9rDtV385W2X6gwmYRTO0edtv/1JmsfWcUmeI9dl2B17IXJYbaHVC7oza7sOrGHrNpEoHl7dpuxevIZQaa3VC/wtTcdZtOAUvODvuM/pA+3FuVYU4mbXdm98lEB/c3DyC0uFarWBKUatTmNc4VsslVLU6qZVwq5baoazVaSZ+8Brlo6c2g/XIq7Z79TvEU/panTKIddv9+g02+VyUyPJTSYQiF3xVfdt2z+iz7OW12vX7K8N+1Cb9fsiwlbDf7+YfGnPncJmTfA/ts+UZHCL74fEl2rvNWRc/P0aVqN2u0Wdg5MdI5/KDUeg8JJfoxFdL2c7/yOHMDpwX/CsxE5aX4Tgz6ogiivIJUVQy/6r04szZYVxYViW+nPlihiX52Z8eu+nEIrJjWUkUxoN+v78exGGk2ZZzDuf6LudfbZx8a0r3tb35XQ6F3nWkwhnzxvG0XX8xypc3mOpxsd4Rb7rP//ao6LNai9/uweuYlTMstfArwbz4L7en/eJy5xZdHqLxk8ivi2KRj0btqSXt+YnxbnESdkizIGMmJbUILzvqdckbpS+WcaD0si2j9kpdoz4NTzGe0tu2zMEA+lYZzh/BBewLZ3//OQaYAPs/p9F+bqmXWyRcbHp86JRQ9+8/WM0eGqs2D+euIWT5iYNGTUK7yWZNvgcz0B5VkiZtOqCxk7CfmG6h82ciN4pZAXimLc0pvXJ7FB2CM16jkCUICygOiuwbzFBtkdw4vICBkNB43zYpGQQpVuPoMhsDzdqs+8tQRupQ2Jr0gfISh3WjBgpZpFH6/j8u8EdgPnkA0nc6fQJyLbKj0XB7zIBlyzvSaNkH0ocp25nWHNjF0XE1VUAsj+0PovYl36+jhHSa3pUnuMP24TSwaMmUHOBBeekw2K7KBRbDf5T+/EBSIrOdw0fluaLP6TQNbDrFmE7TLdEti2VR8p2A5ZBxA/Dj98SaA2IxfTINHMP86shiWqxZWSsUqwpILGoB/l9ZrGYnbC0DiSVRSh025dSB7ZEFxSxamSOQ77ItFpQ60DJSgHyXP7Fo7Q2BfFdh26PZASd8dI6szPIWvSOy/Q3iJ2CUelSs8iPglMl9Gi23BmjBU7HKwZbZLg5ZAJOFTtACQlahrJc5RtBpKI0qvXI1IbUJ3hoqYCt3JArzECz6Yr0MF8gdOp1J83YhrRTWP6eDlsOO1Ti2AN4+84shHOGbb3jNBBqwjMd3QQhsoFeNy9YH4N0QPQon3e0CfvKlNfNpttCywfrOMKVcBJ+KRcQG6QNcy8ZDKTx0Jn1Cef66D1eDP3/V2f+QDo7FaVXpk2ftRwVukINZeJqH8AUFGnnusH0vEfhKNw5moSAsoSK9M3b846noriqvdGN8r/NNxtOSLMfKfHAv2sMfyeXWXKooUvIUW2ZxXbwSX1WDfeTc5pGhPH5R6zw0aq7RaL4reA8u+7jv0/WlL2aSL9H+6B/vboBdf5BYdbezkEZfIbwR1++/p6nt6yqqEGWTLyLrJ8H2Rxeckm7gHz6JLd25eIvWAVvrmJfESDOic74wN3eFUUJEx/bAo2q/Jxn3L/xh+3g1x+1qAcVLvSzvIJSzL7tibBweuU/R42VgCdliGm28FwTVFUbFhEL5qnoYtMQKD7Nda5THz3gP47RYeesOjHxuKVXWi0B1yQXGPHxreGV1CzvnOxgiTZjk/Ii6zUrFhumGzHbFX5HstRXTQXqxhTDTsnG7riwXdFuzQtP4ZOOd2Ge2KU66JJpHt5vJTsc1OSXotmZo+kHe+5GZiHKabgW9gTCUJFEhRJQlO6wZHEfY5blgsH1oD2Fmssqz/7tIXYLt4OsjCtf1QwP6piUzCXnJ3bMcb5PO+A5QvrQ5qegKwmhVlyepoI//jTZl3/MD2NwGyPR/O2UW9gVh2tsKw17duataN7J4SkezrK8JE8ncxTpa3NtG14llcXO9UZHw8v9WaGL3B6t9jVgOf8H9ytfVkBKT+cNPVYs15cPxq2B3rVEg3urRjzQrxXJYL264w9d1S6gpUrJeLN0TwfYQ1wSuCrE0h+txlRJn0vH0/khbkixLMsQ6seDUweM4Xl1Yg12vK62CR1aP23Uwy14HXARSJxZwmEYMTvOrIketXP+g/EwsecJl3g5hhqWj0rpbBspi2XwZWHfYi+LzYsnaH5mCF2ahRZ4Ti+ifnHl9D+BPpIxcTo0AWbGI3p2/7BXfiU1yu49Oekgsok9Yv8noacx9chldeo1Yl8uyiPR3pTqziMaphUrqSuPN9P+BIvJ498fiOsByndiWPa/7lW3P8iZ9tm/locbIv7O+zXyuTlERBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEGQN+M/s2lpLucpREUAAAAASUVORK5CYII=")center/cover;
    width: 60px;
    height:60px;
    margin-right: 40px;
    border-radius: 12px;
    margin-top:30px;
    margin-left: 120px;    
}

.instagram{
    border: none;
    background: url("https://www.apkmirror.com/wp-content/uploads/2020/12/33/5fe3c294d1e93.png")center/cover;
    width: 60px;
    height:60px;
    margin-right: 40px;
    border-radius: 12px;
    margin-top:30px;    
}

.bottomtext{
    color: rgb(199, 199, 199);
}